.news{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	text-decoration: underline;
}

.news:hover{
	text-decoration: none;
}

@media (max-width: 850px) {
	.news{
		text-decoration:brown;
		opacity: 0.42;
	}
}